<div class="footer-content">
    <div class="footer-brand">
        <img src="/Assets/Imgs/logo/Logo.png" alt="logo">
        <div class="social-row">
            <p>Siguenos en Facebook</p>
            <a href="https://www.facebook.com/">
                <img id="facebook" src="/Assets/Imgs/icons/facebook_icon.png" alt="logo_facebook" loading="lazy">
            </a>
        </div>
    </div>
    <div class="footer-contact">
        <h4>Contacto</h4>
        <ul>
            <li><strong>📍Dirección:</strong> Calle Gral Guadalupe Victoria y Av. División Durango, Gral Domingo
                Arrieta
            </li>
            <li><strong>📞Teléfono:</strong> (+52) 618-812-8743</li>
            <li><strong>📧Email:</strong> contacto@escuelavasconcelos.edu.mx</li>
        </ul>
    </div>
</div>
<div class="footer-bottom">
    <p>© 2026 Escuela Secundaria General No.4 "José Vasconcelos"</p>
</div>