.card-body .btn:hover,
.card-body .btn:focus {
    background-color: var(--color-primary-btn);
    border: none;
    color: var(--color-white);
    outline: none;
    transform: scale(1.1);
    transition: transform var(--transition-base);
}

.card:hover {
    background-color: var(--color-primary-hover);
    border: none;
    outline: none;
    transform: scale(1.05);
    transition: transform var(--transition-base);
}